# String Operations
In this notebook you will learn abut the basic string operations in Python, including indexing, espace sequences, and operations.

## Table of Contents
- What are strings?
- Indexing
    - Negative indexing
    - Slicing
    - Stride
    - Concatenate Strings
- Escape Sequences
- String Operations
- Quiz on Strings

Estimated time needed: **15 min**

---------------------------------------------------------------------------

## What are Strings?

The following example shows a string contained within 2 quotation marks:

In [1]:
# use quotation marks for defining string
"Michael Jordan"

'Michael Jordan'

We can also use single quotation marks

In [2]:
'Michael Jordan'

'Michael Jordan'

A string can be a combination of spaces and digits:

In [3]:
# Digitals and spaces in string
'1 2 3 4 5 6'

'1 2 3 4 5 6'

A string can also be a combination of special characters:

In [4]:
# special characters in string
'@32_#]*^$%'

'@32_#]*^$%'

We can print our string using the print statement:

In [5]:
# print the string
print("hello!")

hello!

We can assign a string to another variable

In [6]:
name = "Michael Jordan"
name

'Michael Jordan'

------------------------------------------------------------------------

## Indexing

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array numbers:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

The first index can be accessed as follows:

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Because indexing starts at 0, it means the first index is on the index 0.
</div>
<hr/>

In [7]:
# print he first element in the string
print(name[0])

M

We can access index 6:

In [8]:
# print the element on index 6 in the string
print(name[6])

l

We can also access the 13th index in the string.

In [9]:
print(name[13])

n

### Negative Indexing
We can also use negative indexing with strings:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

Negative index can help us to count the element from the end of the string.

The last element is given by the index `-1`

In [10]:
# print the last element of the string 'name'
print(name[-1])

n

The first element can be obtained by index -14

In [11]:
print(name[-14])

M

We can find the number of characters in a string by using `len`, short for length:

In [12]:
# find the length of the string
len('Michael Jordan')

14

### Concatenate Strings
We can concatenate (paste together) or combine strings by using addition symbols `+`. The result is a new string that is a combination of both

In [16]:
# concatenate two strings
statement = name + ' is a well-known basketball player.'

# write the variable name `statement` to see its value (output)
statement

'Michael Jordan is a well-known basketball player.'

We have concatenated the `name` variable with the value of `Michael Jordan` with the statement ` is a well-known basketball player`.

Notice I've added a space character ` ` right before the start of the phrase `is a well-known basketball player` to properly separate the variable `name` with the added phrase. See below how the lack of space would have changed the output.

In [17]:
statement_together = name + 'is a well-known basketball player.'
statement_together

'Michael Jordanis a well-known basketball player.'

Looks like a typo, right?

**Replicating values of a string**

To replicate the values of a string, we simply multiply the string by the number of times we would like to replicate it. Let's use 5.

In [18]:
5 * "Michael Jordan"

'Michael JordanMichael JordanMichael JordanMichael JordanMichael Jordan'

Can we fix the lack of space between the strings? Let's see!

In [19]:
5 * " Michael Jordan" # notice I've added a space before the letter M

' Michael Jordan Michael Jordan Michael Jordan Michael Jordan Michael Jordan'

What if the string was a character rather than a sentence or name?

In [20]:
5 * "*"

'*****'

Let's change the value of the variable `name`. We can recycle the variable `name` and now assign it to the value of the original `name` value (Michael Jordan) but now add ` is a great player`. See below.

In [21]:
name = "Michael Jordan"
name = name + " is a great player."

# how do you think it looks like now?
name

'Michael Jordan is a great player.'

### String Operations
There are many string operation methods in Python that can be used to manipulate the data. We will go over some of these below.

**Upper**

Let's try with the method `upper`; this method converts lower case characters to upper case characters.

In [22]:
# convert all characters in a string to upper case

a = "I am a college student"

# how does the value of `a` look like before we apply the operation "upper"?
print("Before upper:", a)

Before upper: I am a college student

In [23]:
# what about after we apply "upper"?
b = a.upper()
print("After upper:", b)

After upper: I AM A COLLEGE STUDENT

Cool, huh?
We can do the same for lower case.

In [25]:
c = "I LIKE BASKETBALL."
print("Before lower:", c)

d = c.lower()
print("After lower:", d)

Before lower: I LIKE BASKETBALL.
After lower: i like basketball.

**Replace**

The method `replace` replaces the segment of the string, (i.e a substring with a new string). In place of the old substring, we write what we would want instead. See example below.

In [26]:
a = "I am a college student"
b = a.replace('college student', 'human being')
b

'I am a human being'

## Exercises

1. What is the value of the variable `A` after the following code is executed?

In [29]:
# write your answer in the cell below and press Shift+Enter to execute
A = "1"

Click to write your answer here:

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
"1"
-->

2. What is the value of the variable `B` after the following code is executed

In [27]:
B = "2"

Click to write your answer here:

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
"2"
-->

3. What is the value of the variable `C` after the following code is executed?

In [30]:
# write your answer in the markdown cell below, but execute this cell first by pressint Shift+Enter
C = A + B

Click to write your answer here:

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
"12"
-->

4. Convert the variable `F` to uppercase:

In [31]:
# write your code below and press Shift+Enter to execute

F = "You are awesome!"

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
F.upper()
-->

5. Consider the variable `G` below. Replace the sub-string `Mary` with `Bob`.

In [32]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [33]:
# YOUR CODE HERE press Shift+Enter to run this code cell with the answe

Double-click __here__ for the solution.

<!-- Your answer is below:
G.replace("Mary", "Bob")
-->

# You are finished! :)