# 2. Numbers
Quantitative information arises everywhere in data science (thanks to mathematics). 

In addition to representing commands to print out lines, expressions can represent numbers and methods of combining numbers.

Below, the expression `3.2500` evaluates to the number 3.25 (Run the cell below and see).

In [1]:
3.2500

3.25

Notice that we didn't have to `print`. When you run a notebook cell, if the last line has a value, then Jupyter helpfully prints out that value for you. However, it won't print out prior lines automatically.

In [2]:
print(2)
3
4

2

4

Above, you should see that 4 is the value of the last expression, 2 is printed, but 3 is lost forever because it was neither printed nor last.

You don't want to print everything all the time anyway.  But if you feel sorry for 3, change the cell above to print it.

## 2.1 Arithmetic
The line in the next cell subtracts. Its value is what you'd expect. Run the cell below to see.

In [3]:
3.25 - 1.5

1.75

Many basic arithmetic operations are built into Python.  This textbook section on [Expressions](http://www.inferentialthinking.com/chapters/03/1/expressions.html) describes all the arithmetic operators used in the course.  The common operator that differs from typical math notation is `**`, which raises one number to the power of the other. So, `2**3` stands for $2^3$ and evaluates to 8.

The order of operations is the same as what you learned in your Introductory Algebra course (PEMDAS).  For example, compare the outputs of the cells below. The second cell uses parentheses for the current year!

In [4]:
5+6*5-6*3**2*2**3/4*7

-721.0

In [5]:
5+(6*5-(6*3))**2*((2**3)/4*7)

2021.0

In standard math notation, the first expression is

$$3 + 6 \times 5 - 6 \times 3^2 \times \frac{2^3}{4} \times 7,$$

while the second expression is

$$3 + (6 \times 5 - (6 \times 3))^2 \times (\frac{(2^3)}{4} \times 7).$$

**Question 2.1.1.** Write a Python expression in this next cell that's equal to 
$5 \times (3 \frac{10}{11}) - 50 \frac{1}{3} + 2^{.5 \times 22} - \frac{7}{33} + 4$.  

That's five times three and ten elevenths, minus fifty and a third, plus two to the power of half twenty-two, minus seven thirty-thirds plus four.  By "$3 \frac{10}{11}$" we mean $3+\frac{10}{11}$, not $3 \times \frac{10}{11}$.

Replace the ellipses (`...`) with your expression.  Try to use parentheses only when necessary.

*Hint:* The correct output should start with a familiar number.

In [ ]:
...

# 3. Names
In natural language, we have terminology that lets us quickly reference very complicated concepts.  We don't say, "That's a large mammal with a gray coat and ivoy tusks!"  Instead, we just say, "Elephant!"

In Python, we do this with *assignment statements*. An assignment statement has a name on the left side of an `=` sign and an expression to be evaluated on the right.

In [6]:
ten = 2 * 2 + 6

When you run that cell, Python first computes the value of the expression on the right-hand side, `2 * 2 + 6`, which is the number 10.  Then it assigns that value to the name `ten`.  At that point, the code in the cell is done running.

After you run that cell, the value 10 is bound to the name `ten`:

In [7]:
ten

10

The statement `ten = 3 * 2 + 4` is not asserting that `ten` is already equal to `3 * 2 + 4`, as we might expect by analogy with math notation.

Rather, that line of code changes what `ten` means; it now refers to the value 10, whereas before it meant nothing at all.

**Question 3.1.** Try writing code that uses a name (like `eleven`) that hasn't been assigned to anything.  You'll see an error!

In [ ]:
...

A common pattern in Jupyter notebooks is to assign a value to a name and then immediately evaluate the name in the last line in the cell so that the value is displayed as output.

In [8]:
close_to_pi = 355/113
close_to_pi

3.1415929203539825

Another common pattern is that a series of lines in a single cell will build up a complex computation in stages, naming the intermediate results.

In [9]:
semimonthly_salary = 841.25
monthly_salary = 2 * semimonthly_salary
number_of_months_in_a_year = 12
yearly_salary = number_of_months_in_a_year * monthly_salary
yearly_salary

20190.0

**Some rules:**

- Names in Python can have letters (upper- and lower-case letters are both okay and count as different letters), underscores, and numbers.  
- The first character can't be a number (otherwise a name might look like a number).  
- And names can't contain spaces, since spaces are used to separate pieces of code from each other.

Other than those rules, what you name something doesn't matter *to Python*.  For example, this cell does the same thing as the above cell, except everything has a different name:

In [10]:
a = 841.25
b = 2 * a
c = 12
d = c * b
d

20190.0

**However**, names are very important for making your code *readable* to yourself and others.  The cell above is shorter, but it's totally useless without an explanation of what it does.